<div class="row row-cards">

  <div class="col-sm-6 col-lg-6">
    <div class="card p-3">
      <div class="d-flex align-items-center">
        <span class="stamp stamp-md bg-red text-white mr-3">
          <%= icon('fas', 'user-cog') %>
        </span>
        <div>
          <h4 class="m-0" data-toggle="tooltip" data-placement="bottom" title="<%= t('views.tooltip.home.admin.sign_in')%>">
            <%= link_to t('views.links.home.admin.sign_in'), new_admin_session_path %>
          </h4>
          <small class="text-muted"><%= t('views.admin.name.plural')%></small>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-lg-6">
    <div class="card p-3">
      <div class="d-flex align-items-center">
        <span class="stamp stamp-md bg-blue text-white mr-3">
          <%= icon('fas', 'user-cog') %>
        </span>
        <div>
          <h4 class="m-0" data-toggle="tooltip" data-placement="bottom" title="Clique aqui para acessar a área do cliente">
              <%= link_to t('views.links.home.user.sign_in'), '#'  %>
          </h4>
          <small class="text-muted"><%= t('views.user.name.plural')%></small>
        </div>
      </div>
    </div>
  </div>

<% if admin_signed_in? %>
  <%= link_to 'Sair', destroy_admin_session_path, method: :delete %>
<% else %>
  <%= link_to 'Entrar', new_admin_session_path %>
<% end %>

</div>
